@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        You do not have enough access rigths to access this page. 
        <br />
        Please go to <a href="/Login/Index">index page</a>
    </h2>
</body>
</html>