<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    
    <add name="AccountManagerEntities" connectionString="metadata=res://*/AccountManager.csdl|res://*/AccountManager.ssdl|res://*/AccountManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=0a48878b-410d-4a5c-9d53-a085010b7c3f.sqlserver.sequelizer.com;Initial Catalog=db0a48878b410d4a5c9d53a085010b7c3f;User ID=aydbwaczogpgubka;Password=rgSRdAgVTwadxaJRHwmQ653VXBGs5CSF84NwFX7FYuqCacFFN3NzYRdvn63J3VZq;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="AccountManagerEntities" connectionString="metadata=res://*/AccountManager.csdl|res://*/AccountManager.ssdl|res://*/AccountManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=AccountManager;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
 
    <!--<add name="SmartHR" providerName="System.Data.SqlClient" connectionString="Server=0a48878b-410d-4a5c-9d53-a085010b7c3f.sqlserver.sequelizer.com;Database=db0a48878b410d4a5c9d53a085010b7c3f;User ID=aydbwaczogpgubka;Password=rgSRdAgVTwadxaJRHwmQ653VXBGs5CSF84NwFX7FYuqCacFFN3NzYRdvn63J3VZq;"/>-->
  
 </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
  <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Login/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
</configuration>
